In [1]:
# Import dependencies.

import json
import pandas as pd
import numpy as np
import sklearn as skl
import numpy
import datetime
import seaborn as sns
import tensorflow as tf
import matplotlib.pyplot as plt
%matplotlib inline

# From dependency imports
#from mpl_toolkits.mplot3d import Axes3D
#from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import train_test_split
#from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder, MinMaxScaler
#from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
#from sklearn.datasets import make_blobs
#from sklearn.metrics import accuracy_score,r2_score
#from sklearn.linear_model import LogisticRegression
from sqlalchemy import create_engine
#from tensorflow.keras.models import Sequential
#from tensorflow.keras.layers import Dense

C:\Users\dcohen\.conda\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\dcohen\.conda\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\dcohen\.conda\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\dcohen\.conda\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\dcohen\.conda\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\dcohen\.conda\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\dcohen\.conda\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\dcohen\.conda\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\dcohen\.conda\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\dcohen\.conda\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\dcohen\.conda\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\dcohen\.conda\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
### Configure settings for Relational Database Service, and defining database info in config variable.
jdbc_url="jdbc:postgresql://34.67.52.115/team5k"
config = {'user': 'postgres', 
          "password": "team5kteam5k", 
          "driver":"org.postgresql.Driver",
          "location": "34.67.52.115",
          "db": "team5k",
          "port": "5432"}

In [3]:
### Creating variable holding postgres info in format "postgres://[user]:[password]@[location]:[port]/[database]".
create_engine_str = ('postgresql://' 
                     + config["user"] 
                     + ":" + config["password"] 
                     + "@" + config["location"] 
                     + ":" + config["port"] 
                     + "/" + config["db"])

In [4]:
# Connecting to Postgres instance.
engine = create_engine(create_engine_str)

In [5]:
# Printing info for table names. 
print (engine.table_names())

['committees', 'candidates', 'education', 'committee_summary_2020', 'six_state_donations', 'agg_county_votes', 'agg_county_donors', 'donations', 'fec_donor_az', 'health_metrics', 'birth_death_rate', 'postal_codes', 'fec_donor_mi', 'fec_donor_wi', 'fec_committee', 'fec_donor_pa', 'pres_votes_6t', 'unemployment', 'fec_donor_nc', 'fec_donor_fl']

In [6]:
# Create variables for data
#committees_df = pd.read_sql_query('select * from "committees"',con=engine)
#candidates_df = pd.read_sql_query('select * from "candidates"',con=engine)
#education_df = pd.read_sql_query('select * from "education"',con=engine)
#committee_summary_2020_df = pd.read_sql_query('select * from "committee_summary_2020"',con=engine)
#six_state_donations_df = pd.read_sql_query('select * from "six_state_donations"',con=engine)
#agg_county_votes_df = pd.read_sql_query('select * from "agg_county_votes"',con=engine)
#agg_county_donors_df = pd.read_sql_query('select * from "agg_county_donors"',con=engine)
#donations_df = pd.read_sql_query('select * from "donations"',con=engine)
#fec_donor_az_df = pd.read_sql_query('select * from "fec_donor_az"',con=engine)
#health_metrics_df = pd.read_sql_query('select * from "health_metrics"',con=engine)
#birth_death_rate_df = pd.read_sql_query('select * from "birth_death_rate"',con=engine)
#postal_codes_df = pd.read_sql_query('select * from "postal_codes"',con=engine)
#fec_donor_mi_df = pd.read_sql_query('select * from "fec_donor_mi"',con=engine)
#fec_donor_wi_df = pd.read_sql_query('select * from "fec_donor_wi"',con=engine)
#fec_committee_df = pd.read_sql_query('select * from "fec_committee"',con=engine)
#fec_donor_pa_df = pd.read_sql_query('select * from "fec_donor_pa"',con=engine)
#pres_votes_6t_df = pd.read_sql_query('select * from "pres_votes_6t"',con=engine)
#unemployment_df = pd.read_sql_query('select * from "unemployment"',con=engine)
#fec_donor_ncs_df = pd.read_sql_query('select * from "fec_donor_nc"',con=engine)
#fec_donor_fl_df = pd.read_sql_query('select * from "fec_donor_fl"',con=engine)

In [7]:
# Committee DB & description
committees_df = pd.read_sql_query('select * from "committees"',con=engine)
committees_df.describe()

,CMTE_ID,CMTE_NM,TRES_NM,CMTE_ST1,CMTE_ST2,CMTE_CITY,CMTE_ST,CMTE_ZIP,CMTE_DSGN,CMTE_TP,CMTE_PTY_AFFILIATION,CMTE_FILING_FREQ,ORG_TP,CONNECTED_ORG_NM,CAND_ID
count,141375,141363,134526,140886,26481,140905,140908,140785,141326,141355,54106,141375,38771,65978,52850
unique,49000,53806,53968,49708,5894,7837,66,16657,6,16,146,5,8,14239,19665
top,C90006701,COLLINS FOR CONGRESS,"KILGORE, PAUL",1900 WEST OAKLAND PARK BLVD.,.,WASHINGTON,DC,20005,U,H,REP,Q,C,NONE,P00003335
freq,11,40,592,903,1926,13490,15004,2677,72892,37553,22379,87355,19507,24218,95

In [8]:
# Donations DB & description
#donations_df = pd.read_sql_query('select * from "donations"',con=engine)
#donations_df.describe()

In [10]:
# Health Metrics DB & description
health_metrics_df = pd.read_sql_query('select * from "health_metrics"',con=engine)
health_metrics_df.describe()

,fips,num_deaths,years_of_potential_life_lost_rate,95percent_ci_low,95percent_ci_high,quartile,ypll_rate_aian,ypll_rate_aian_95percent_ci_low,ypll_rate_aian_95percent_ci_high,ypll_rate_asian,...,percent_hispanic,num_non_hispanic_white,percent_non_hispanic_white,num_not_proficient_in_english,percent_not_proficient_in_english,95percent_ci_low_39,95percent_ci_high_39,percent_female,num_rural,percent_rural
count,3193.000000,2900.000000,2900.000000,2900.000000,2900.000000,3084.000000,175.000000,175.000000,175.000000,224.000000,...,3193.000000,3.193000e+03,3193.000000,3.193000e+03,3193.000000,3038.000000,3038.000000,3193.000000,3.186000e+03,3186.000000
mean,30360.922643,2626.418621,8560.596542,7231.352606,9935.234974,2.460441,14948.402184,11322.604297,19263.626656,3494.138600,...,9.692285,1.237372e+05,75.863247,8.345050e+03,1.717440,1.066770,2.649472,49.896722,3.733560e+04,58.058842
std,15171.912105,14147.013596,2593.841317,2225.987099,3191.809731,1.117515,5786.739134,4618.356203,7553.456260,1339.897189,...,13.790012,6.538542e+05,20.159411,8.751863e+04,2.779003,2.270823,3.801944,2.269008,1.839409e+05,31.552734
min,1000.000000,32.000000,2730.603992,1991.644111,3018.828260,1.000000,3182.709083,2161.351633,4386.945226,1422.108274,...,0.610451,2.300000e+01,2.691288,0.000000e+00,0.000000,0.000000,0.236579,26.835097,0.000000e+00,0.000000
25%,18173.000000,228.000000,6769.680562,5653.284707,7715.584748,1.000000,10760.588056,7888.395153,14151.672287,2572.251914,...,2.408442,8.043000e+03,63.959619,4.200000e+01,0.286138,0.000000,0.892524,49.422955,7.144000e+03,32.560275
50%,29175.000000,487.500000,8287.134501,7009.538366,9583.009259,2.000000,14238.200703,11098.411681,18116.802008,3199.857322,...,4.456522,2.056000e+04,83.063727,1.840000e+02,0.741392,0.169443,1.492338,50.313328,1.470750e+04,58.841080
75%,45075.000000,1187.000000,10052.108422,8612.066274,11755.851732,3.000000,17819.011123,13519.826184,22614.952183,4045.810688,...,10.209401,5.713900e+04,92.178182,9.680000e+02,1.897017,1.109426,2.817192,51.028709,2.623375e+04,86.187079
max,56045.000000,347916.000000,29138.378057,25269.174532,39386.622280,5.000000,32929.263642,27177.548936,45412.859692,9710.756786,...,96.359551,1.456861e+07,97.887219,3.597443e+06,30.376303,23.549746,80.322576,56.870539,3.847522e+06,100.000000

In [11]:
# Donations DB & description
agg_county_donors_df = pd.read_sql_query('select * from "agg_county_donors"',con=engine)
agg_county_donors_df.describe()

,index,blue_amt,red_amt,other_amt,total_amt,percent_blue,percent_red,percent_other,election_year
count,67.0,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,0.0,4015.671642,13239.179104,14.925373,17269.776119,0.194063,0.802205,0.003731,2002.149254
std,0.0,13751.444026,26834.322713,122.169444,28630.114184,0.390675,0.389986,0.030542,2.009476
min,0.0,0.000000,0.000000,0.000000,600.000000,0.000000,0.000000,0.000000,2000.000000
25%,0.0,0.000000,1650.000000,0.000000,2250.000000,0.000000,1.000000,0.000000,2000.000000
50%,0.0,0.000000,4000.000000,0.000000,5000.000000,0.000000,1.000000,0.000000,2004.000000
75%,0.0,0.000000,11850.000000,0.000000,12500.000000,0.000000,1.000000,0.000000,2004.000000
max,0.0,79200.000000,136700.000000,1000.000000,136700.000000,1.000000,1.000000,0.250000,2004.000000

In [12]:
# Voters DB & description
agg_county_votes_df = pd.read_sql_query('select * from "agg_county_votes"',con=engine)
agg_county_votes_df.describe()

,index,blue_votes,red_votes,other_votes,total_votes,percent_blue,percent_red,percent_other,election_year,PopPct_Urban,Unemployment,PopDen_Urban,PopPct_Rural,PopDen_Rural
count,2020.0,2020.000000,2020.000000,1920.000000,1.920000e+03,1920.000000,1920.000000,1920.000000,2020.000000,2020.000000,2020.000000,1795.000000,2020.000000,2020.000000
mean,0.0,33658.082178,32940.009406,1439.081771,7.000121e+04,0.431450,0.546959,0.021591,2008.000000,45.741559,6.346634,1538.397493,53.763391,58.253960
std,0.0,76134.999908,57885.890155,4036.360996,1.351435e+05,0.111499,0.109909,0.016759,5.658255,30.088229,2.453804,597.848666,30.154182,41.760445
min,0.0,518.000000,179.000000,4.000000,1.233000e+03,0.100188,0.127762,0.001082,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,4659.000000,6114.000000,164.000000,1.126575e+04,0.354604,0.478727,0.009957,2004.000000,21.782500,4.600000,1135.500000,28.860000,26.375000
50%,0.0,9639.000000,13037.000000,440.500000,2.393750e+04,0.430714,0.546996,0.015104,2008.000000,44.560000,5.800000,1486.100000,55.010000,49.700000
75%,0.0,24950.500000,34350.000000,1198.250000,6.458675e+04,0.499284,0.621041,0.030250,2012.000000,69.692500,7.700000,1839.000000,77.252500,82.025000
max,0.0,702907.000000,749885.000000,117566.000000,1.567834e+06,0.868094,0.878905,0.104911,2016.000000,99.980000,23.900000,6050.500000,100.000000,216.000000